body {
    background-color: powderblue;
}

.belief-container {
    display: flex;
    min-height: 100%;
    outline: 2px red;
    justify-content: center;
}

.parallax {
    /* The image used */
    background-image: url("altar.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}